# A Quick Tour of Variables and Data Types in Python

![](https://i.imgur.com/6cg2E9Q.png)

This tutorial covers the following topics:

- Storing information using variables
- Primitive data types in Python: Integer, Float, Boolean, None and String
- Built-in data structures in Python: List, Tuple and Dictionary
- Methods and operators supported by built-in data types

In [1]:
my_favorite_color = "blue"

In [2]:
my_favorite_color

'blue'

A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  Note that the assignment operator `=` is different from the equality comparison operator `==`.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [3]:
color1, color2, color3 = "red", "green", "blue"

In [4]:
color1

'red'

In [5]:
color2

'green'

In [6]:
color3

'blue'

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [7]:
color4 = color5 = color6 = "magenta"

In [8]:
color4

'magenta'

In [9]:
color5

'magenta'

In [10]:
color6

'magenta'

You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [11]:
my_favorite_color = "red"

In [12]:
my_favorite_color

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [13]:
counter = 10

In [14]:
counter = counter + 1

In [15]:
counter

11

The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a *shorthand* syntax for it.

In [16]:
counter = 10

In [17]:
# Same as `counter = counter + 4`
counter += 4

In [18]:
counter

14

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

Here are some valid variable names:

In [19]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [20]:
a variable = 23

SyntaxError: invalid syntax (<ipython-input-20-b4f9daa715a5>, line 1)

In [21]:
is_today_$aturday = False

SyntaxError: invalid syntax (<ipython-input-21-3785425ca227>, line 1)

In [22]:
my-favorite-car = "Delorean"

SyntaxError: cannot assign to operator (<ipython-input-22-829f5ed5b10b>, line 1)

In [23]:
3_musketeers = ["Athos", "Porthos", "Aramis"]

SyntaxError: invalid decimal literal (<ipython-input-23-41d8638a15bb>, line 1)

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [25]:
a_variable

23

In [26]:
type(a_variable)

int

In [27]:
is_today_Saturday

False

In [28]:
type(is_today_Saturday)

bool

In [29]:
my_favorite_car

'Delorean'

In [30]:
type(my_favorite_car)

str

In [31]:
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

In [32]:
type(the_3_musketeers)

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [33]:
current_year = 2020

In [34]:
current_year

2020

In [35]:
type(current_year)

int

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

In [36]:
a_large_negative_number = -23374038374832934334234317348343

In [37]:
a_large_negative_number

-23374038374832934334234317348343

In [38]:
type(a_large_negative_number)

int

### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [39]:
pi = 3.141592653589793238

In [40]:
pi

3.141592653589793

In [41]:
type(pi)

float

Note that a whole number is treated as a float if written with a decimal point, even though the decimal portion of the number is zero.

In [42]:
a_number = 3.0

In [43]:
a_number

3.0

In [44]:
type(a_number)

float

In [45]:
another_number = 4.

In [46]:
another_number

4.0

In [47]:
type(another_number)

float

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [48]:
one_hundredth = 1e-2

In [49]:
one_hundredth

0.01

In [50]:
type(one_hundredth)

float

In [51]:
avogadro_number = 6.02214076e23

In [52]:
avogadro_number

6.02214076e+23

In [53]:
type(avogadro_number)

float

You can convert floats into integers and vice versa using the `float` and `int` functions. The operation of converting one type of value into another is called casting.

In [54]:
float(current_year)

2020.0

In [55]:
float(a_large_negative_number)

-2.3374038374832935e+31

In [56]:
int(pi)

3

In [57]:
int(avogadro_number)

602214075999999987023872

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [58]:
type(45 * 3.0)

float

In [59]:
type(45 * 3)

int

In [60]:
type(10/3)

float

In [61]:
type(10/2)

float

In [62]:
type(10//2)

int

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [63]:
is_today_Sunday = True

In [64]:
is_today_Sunday

True

In [65]:
type(is_today_Saturday)

bool

Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [66]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [67]:
is_ice_bag_expensive

False

In [68]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [69]:
5 + False

5

In [70]:
3. + True

4.0

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [71]:
bool(False)

False

In [72]:
bool(0)

False

In [73]:
bool(0.0)

False

In [74]:
bool(None)

False

In [75]:
bool("")

False

In [76]:
bool([])

False

In [77]:
bool(())

False

In [78]:
bool({})

False

In [79]:
bool(set())

False

In [80]:
bool(range(0))

False

In [81]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [82]:
nothing = None

In [83]:
type(nothing)

NoneType

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [84]:
today = "Saturday"

In [85]:
today

'Saturday'

In [86]:
type(today)

str

You can use single quotes inside a string written with double quotes, and vice versa.

In [87]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [88]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [89]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'

In [90]:
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot.'

To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [91]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [92]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [93]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun."'''

In [94]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?" \nDad: "No sun."'

Multiline strings are best displayed using the `print` function.

In [95]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

In [96]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

In [97]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

You can check the length of a string using the `len` function.

In [98]:
len(my_favorite_movie)

31

Note that special characters like `\n` and escaped characters like `\"` count as a single character, even though they are written and sometimes printed as two characters.

In [99]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [100]:
len(multiline_string)

3

A string can be converted into a list of characters using `list` function.

In [101]:
list(multiline_string)

['a', '\n', 'b']

Strings also support several list operations, which are discussed in the next section. We'll look at a couple of examples here.

You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0` to `n-1`, where `n` is the length of the string.

In [102]:
today = "Saturday"

In [103]:
today[0]

'S'

In [104]:
today[3]

'u'

In [105]:
today[7]

'y'

You can access a part of a string using by providing a `start:end` range instead of a single index in `[]`.

In [106]:
today[5:8]

'day'

You can also check whether a string contains a some text using the `in` operator.

In [107]:
'day' in today

True

In [108]:
'Sun' in today

False

Two or more strings can be joined or *concatenated* using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [109]:
full_name = "Derek O'Brien"

In [110]:
greeting = "Hello"

In [111]:
greeting + full_name

"HelloDerek O'Brien"

In [112]:
greeting + " " + full_name + "!" # additional space

"Hello Derek O'Brien!"

Strings in Python have many built-in *methods* that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [113]:
today.lower()

'saturday'

In [114]:
"saturday".upper()

'SATURDAY'

In [115]:
"monday".capitalize() # changes first character to uppercase

'Monday'

The `.replace` method replaces a part of the string with another string. It takes the portion to be replaced and the replacement text as *inputs* or *arguments*.

In [116]:
another_day = today.replace("Satur", "Wednes")

In [117]:
another_day

'Wednesday'

Note that `replace` returns a new string, and the original string is not modified.

In [118]:
today

'Saturday'

The `.split` method splits a string into a list of strings at every occurrence of provided character(s).

In [119]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

The `.strip` method removes whitespace characters from the beginning and end of a string.

In [120]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [121]:
a_long_line_stripped = a_long_line.strip()

In [122]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [123]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [124]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.

It is also possible to use the string concatenation operator `+` to combine strings with other values. However, those values must first be converted to strings using the `str` function.

In [125]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

TypeError: can only concatenate str (not "float") to str

In [126]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2'

You can `str` to convert a value of any data type into a string.

In [127]:
str(23)

'23'

In [128]:
str(23.432)

'23.432'

In [129]:
str(True)

'True'

In [130]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

Note that all string methods return new values and DO NOT change the existing string. You can find a full list of string methods here: https://www.w3schools.com/python/python_ref_string.asp.

Strings also support the comparison operators `==` and `!=` for checking whether two strings are equal.

In [131]:
first_name = "John"

In [132]:
first_name == "Doe"

False

In [133]:
first_name == "John"

True

In [134]:
first_name != "Jane"

True

### List

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

In [136]:
fruits = ['apple', 'banana', 'cherry']

In [137]:
fruits

['apple', 'banana', 'cherry']

In [138]:
type(fruits)

list

Let's try creating a list containing values of different data types, including another list.

In [139]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [140]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [141]:
empty_list = []

In [142]:
empty_list

[]

To determine the number of values in a list, use the `len` function. You can use `len`  to determine the number of values in several other data types.

In [143]:
len(fruits)

3

In [144]:
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [145]:
len(a_list)

6

In [146]:
len(empty_list)

0

You can access an element from the list using its *index*, e.g., `fruits[2]` returns the element at index 2 within the list `fruits`. The starting index of a list is 0.

In [147]:
fruits[0]

'apple'

In [148]:
fruits[1]

'banana'

In [149]:
fruits[2]

'cherry'

If you try to access an index equal to or higher than the length of the list, Python returns an `IndexError`.

In [150]:
fruits[3]

IndexError: list index out of range

In [ ]:
fruits[4]

IndexError: list index out of range

You can use negative indices to access elements from the end of a list, e.g., `fruits[-1]` returns the last element, `fruits[-2]` returns the second last element, and so on.

In [151]:
fruits[-1]

'cherry'

In [153]:
fruits[-3]

'apple'

You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [155]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [156]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [157]:
len(a_list)

6

In [158]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

Note that the range `2:5` includes the element at the start index `2` but does not include the element at the end index `5`. So, the result has 3 values (index `2`, `3`, and `4`).

Here are some experiments you should try out (use the empty cells below):

* Try setting one or both indices of the range are larger than the size of the list, e.g., `a_list[2:10]`
* Try setting the start index of the range to be larger than the end index, e.g., `list_a[2:10]`
* Try leaving out the start or end index of a range, e.g., `a_list[2:]` or `a_list[:5]`
* Try using negative indices for the range, e.g., `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

> The flexible and interactive nature of Jupyter notebooks makes them an excellent tool for learning and experimentation. If you are new to Python, you can resolve most questions as soon as they arise simply by typing the code into a cell and executing it. Let your curiosity run wild, discover what Python is capable of and what it isn't!

You can also change the value at a specific index within a list using the assignment operation.

In [159]:
fruits

['apple', 'banana', 'cherry']

In [160]:
fruits[1] = 'blueberry'

In [161]:
fruits

['apple', 'blueberry', 'cherry']

A new value can be added to the end of a list using the `append` method.

In [162]:
fruits.append('dates')

In [163]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

A new value can also be inserted at a specific index using the `insert` method.

In [164]:
fruits.insert(1, 'banana')

In [165]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

You can remove a value from a list using the `remove` method.

In [166]:
fruits.remove('blueberry')

In [167]:
fruits

['apple', 'banana', 'cherry', 'dates']

To remove an element from a specific index, use the `pop` method. The method also returns the removed element.

In [168]:
fruits

['apple', 'banana', 'cherry', 'dates']

In [169]:
fruits.pop(1)

'banana'

In [170]:
fruits

['apple', 'cherry', 'dates']

If no index is provided, the `pop` method removes the last element of the list.

In [171]:
fruits.pop()

'dates'

In [172]:
fruits

['apple', 'cherry']

You can test whether a list contains a value using the `in` operator.

In [173]:
'pineapple' in fruits

False

In [174]:
'cherry' in fruits

True

To combine two or more lists, use the `+` operator. This operation is also called *concatenation*.

In [175]:
fruits

['apple', 'cherry']

In [176]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [177]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

To create a copy of a list, use the `copy` method. Modifying the copied list does not affect the original.

In [178]:
more_fruits_copy = more_fruits.copy()

In [179]:
more_fruits_copy

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [180]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [181]:
# Original list remains unchanged
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator `=`. The new variable will point to the same list, and any modifications performed using either variable will affect the other.

In [182]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [183]:
more_fruits_not_a_copy = more_fruits

In [184]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [185]:
more_fruits_not_a_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [186]:
more_fruits

['apple', 'cherry', 'tomato', 'guava', 'dates']

Just like strings, there are several in-built methods to manipulate a list. However, unlike strings, most list methods modify the original list rather than returning a new one. Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp .

### Tuple

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

In [187]:
fruits = ('apple', 'cherry', 'dates')

In [188]:
# check no. of elements
len(fruits)

3

In [189]:
# get an element (positive index)
fruits[0]

'apple'

In [190]:
# get an element (negative index)
fruits[-2]

'cherry'

In [191]:
# check if it contains an element
'dates' in fruits

True

In [192]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [193]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [194]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

You can also skip the parantheses `(` and `)` while creating a tuple. Python automatically converts comma-separated values into a tuple.

In [195]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [196]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses `(` and `)` won't make it a tuple.

In [197]:
single_element_tuple = 4,

In [198]:
single_element_tuple

(4,)

In [199]:
another_single_element_tuple = (4,)

In [200]:
another_single_element_tuple

(4,)

In [201]:
not_a_tuple = (4)

In [202]:
not_a_tuple

4

Tuples are often used to create multiple variables with a single statement.

In [203]:
point = (3, 4)

In [204]:
point_x, point_y = point

In [205]:
point_x

3

In [206]:
point_y

4

You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [207]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [208]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

Tuples have just two built-in methods: `count` and `index`. Can you figure out what they do? While you look could look for documentation and examples online, there's an easier way to check a method's documentation, using the `help` function.

In [209]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [210]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

Within a Jupyter notebook, you can also start a code cell with `?` and type the name of a function or method. When you execute this cell, you will see the function/method's documentation in a pop-up window.

In [211]:
?a_tuple.index

Try using `count` and `index` with `a_tuple` in the code cells below.

### Dictionary

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary.  Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.

In [212]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [213]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

Dictionaries can also be created using the `dict` function.

In [214]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [215]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [216]:
type(person1)

dict

Keys can be used to access values using square brackets `[` and `]`.

In [217]:
person1['name']

'John Doe'

In [218]:
person1['married']

True

In [219]:
person2['name']

'Jane Judy'

If a key isn't present in the dictionary, then a `KeyError` is *thrown*.

In [220]:
person1['address']

KeyError: 'address'

You can also use the `get` method to access the value associated with a key.

In [221]:
person2.get("name")

'Jane Judy'

The `get` method also accepts a default value, returned if the key is not present in the dictionary.

In [222]:
person2.get("address", "Unknown")

'Unknown'

You can check whether a key is present in a dictionary using the `in` operator.

In [223]:
'name' in person1

True

In [224]:
'address' in person1

False

You can change the value associated with a key using the assignment operator.

In [225]:
person2['married']

False

In [226]:
person2['married'] = True

In [227]:
person2['married']

True

The assignment operator can also be used to add new key-value pairs to the dictionary.

In [228]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [229]:
person1['address'] = '1, Penny Lane'

In [230]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane'}

To remove a key and the associated value from a dictionary, use the `pop` method.

In [231]:
person1.pop('address')

'1, Penny Lane'

In [232]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.

In [233]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [234]:
person1.values()

dict_values(['John Doe', 'Male', 32, True])

In [235]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

The results of `keys`, `values`, and `items` look like lists. However, they don't support the indexing operator `[]` for retrieving elements. 

Can you figure out how to access an element at a specific index from these results? Try it below. *Hint: Use the `list` function*

Dictionaries provide many other methods. You can learn more about them here: https://www.w3schools.com/python/python_ref_dictionary.asp .